.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 1rem;
  justify-items: center;
}
.car {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  cursor: pointer;
  padding: 1rem;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
}
